<!-- delete confirmation -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-danger p-4 ocp-rounded">
        <form action="{{route_delete}}" data-request="async" method="POST" enctype="multipart/form-data" id="form-delete">
            <div class="modal-body text-light text-center">
                <h1 class="text-light"><i class="bi bi-exclamation-octagon" style="font-size: 5rem;"></i></h1>
                <p class="small">O Item será excluído definitivamente e não poderá ser restaurado! Tem certeza disso?</p>
                <p class="small">Validção com senha de acesso necessária</p>

            </div>
            <div class="modal-footer border-0">
                <button type="submit" class="btn btn-sm btn-warning" data-bs-dismiss="modal">
                    <i class="bi-trash me-1" style="font-size: 0.8rem;"></i>
                    Excluir
                </button>
                <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">
                    <i class="bi-door-open me-1" style="font-size: 0.8rem;"></i>
                    Cancelar
                </button>
                <input type="hidden" name="id" value="" id="iddelete">
                <input type="hidden" name="token" value="{{token}}">
            </div>
        </form>
    </div>
    </div>
</div>