<main class="main-risizeble dashboard p-4">
    
    <div class="row text mb-2">
        <div class="col-md-3 p-2">
            <div class="box p-4 d-flex">
                <div class="dash-info">
                    <p class="text-secondary">Urnas Apuradas</p>
                    <p class="focus-info" id="dash_urnas">00</p>
                </div>
                <div class="dash-icon ms-auto"><i class="bi bi-journal-bookmark icon-success"></i></div>
            </div>
        </div>
        <div class="col-md-3 p-2">
            <div class="box p-4 d-flex">
                <div class="dash-info">
                    <p class="text-secondary">Votos Computados</p>
                    <p class="focus-info" id="dash_votos">00</p>
                </div>
                <div class="dash-icon ms-auto"><i class="bi bi-check-square icon-primary"></i></div>
            </div>
        </div>
        <div class="col-md-3 p-2">
            <div class="box p-4 d-flex">
                <div class="dash-info">
                    <p class="text-secondary">Votos Nulos</p>
                    <p class="focus-info" id="dash_nulos">00</p>
                </div>
                <div class="dash-icon ms-auto"><i class="bi bi-file-earmark-excel icon-danger"></i></div>
            </div>
        </div>
        <div class="col-md-3 p-2">
            <div class="box p-4 d-flex">
                <div class="dash-info">
                    <p class="text-secondary">Votos em Branco</p>
                    <p class="focus-info" id="dash_brancos">00</p>
                </div>
                <div class="dash-icon ms-auto"><i class="bi bi-file icon-warning"></i></div>
            </div>
        </div>
    </div>
    
    <div class="box text py-4">
        <div class="dash-title-info px-4">Total de Votos por Candidato </div>
        <div id="dash-view" class="px-4">
           
        </div>
    </div>
</main>